
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

h1 {
  font-family: 'Raleway', sans-serif;
  font-size: 62px;
  font-weight: 800;
  line-height: 90px;
  color: #FFFFFF;
  margin: 0 0 0px;
  text-align: center;
  text-transform: uppercase;
  background-color: #77b5e6;
  padding: 20px;
}

h2 {

  font-family: 'Raleway',sans-serif;
  font-size: 30px;
  font-weight: 800;
  text-align: center;

}

h3 {
  font-family: 'Raleway',sans-serif;
  font-size: 20px;
  font-weight: 800;
  line-height: 36px;
  text-align: center;
}

p {
  font-family: 'Raleway',sans-serif;
  font-size: 18px;
  font-weight: 500;
  text-align: center;
}

a:link {
  color: white;
  text-decoration: none;
}
a:visited:hover {
  color: orange;
}
a:hover {
  color: aqua;
  text-decoration: underline;
}
a:active {
  color: red;
}

ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: #77b5e6;
  position: -webkit-sticky; /* Safari */
  position: sticky;
  top: 0;
  width: 100%;
}

li {
  float: left;
}

li a {
  display: block;
  color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}

li:last-child {
  border-right: none;
}
/* Change the link color to #111 (black) on hover */
li a:hover {
  background-color: #77b5e6;
}

.active {
  background-color: #4CAF50;
  color: white;
}

.button {
  color: #FFF;
  background-color: #5995DA;    /* Blue */
  font-weight: bold;
  padding: 20px;
  text-align: center;
  border: 2px solid #5D6063;    /* Dark gray */
  border-radius: 5px;

  width: 200px;
  margin: 20px auto;
}

.synopsis {
  color: #7E8184;        /* Light gray */
  font-style: italic;
}

.menu-container {
  color: #fff;
  background-color: #5995DA;  /* Blue */
  padding: 20px 0;
  display: flex;
  justify-content: center;
}

.menu {
  border: 1px solid #fff;
  width: 900px;
  display: flex;
  justify-content: space-around;

}


/*dropdown */
.dropdown {
  position: relative;
  display: inline-block;
}

.dropdown-content {
  display: none;
  position: absolute;
  background-color: #f9f9f9;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  padding: 12px 16px;
  z-index: 1;
}

.dropdown:hover .dropdown-content {
  display: block;
}

.paragraph{
  padding: 150px;
  justify-content: center;
  text-align: center;
  height: auto;
}

.paragraph1{
  padding: 50px;
  justify-content: center;
  text-align: center;
  height: auto;
  background-color: #b3e5ff;
  border: outset white;
}

div.gallery {
  border: 1px solid #ccc;
}

div.gallery:hover {
  border: 1px solid #777;
}

div.gallery img {
  width: 100%;
  height: auto;
}

div.desc {
  padding: 15px;
  text-align: center;
}

* {
  box-sizing: border-box;
}


@media only screen and (max-width: 700px) {
  .responsive {
    width: 100%;
  }
}

.clearfix:after {
  content: "";
  display: table;
  clear: both;
}

.photo-grid-container {
  display: grid;
  align-items: center;
  /*grid-template-columns: repeat(3, 1fr);
  grid-template-rows: repeat(3, minmax(100px, auto));
  grid-auto-rows: minmax(100px, auto);
  */
}

.photo-grid {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  grid-gap: 20px;
	gap: 20px;
  flex-direction: row;  /* Update this */
  justify-content: center;
  align-items: center;
}

.photo-grid-item {
  border: 1px solid #fff;
  width: 300px;
  height: 300px;
}

.footer {
  position: fixed;
  left: 0;
  bottom: 0;
  width: 100%;
  background-color: #333;
  color: white;
  text-
  text-align: center;
}
